<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ config.COMPANY_NAME }} - {{ config.TITLE }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ config.STATIC_URL }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ config.STATIC_URL }}/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ config.STATIC_URL }}/snappass/css/custom.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/{{ config.BASE_PATH }}">
        {% if config.COMPANY_LOGO_URL != '' %}
        <img src="{{ config.COMPANY_LOGO_URL }}" height="50" class="d-inline-block align-top" alt="">
        {% endif %}
        {{ config.TITLE }}
      </a>
      <a href="{{ config.HELP_URL }}" target="_blank"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a>
    </nav>

    {% block content %}{% endblock %}
    <script src="{{ config.STATIC_URL }}/jquery/jquery.min.js"></script>
    <script src="{{ config.STATIC_URL }}/popper.js/popper.min.js"></script>
    <script src="{{ config.STATIC_URL }}/bootstrap/js/bootstrap.min.js"></script>
    {% block js %}{% endblock %}
  </body>
</html>
