{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header"><h1>Get your secret</h1></div>
      <div class="row">
        <div class="col-sm-4">
          <form action="{{ base_url }}" role="form" id="password_get" method="post">
            <input type="hidden" id="password_key" name="password_key" value="{{ password_key }}">
            <button type="submit" class="btn btn-primary" id="submit">Get Password</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block js %}
<script src="{{ config.STATIC_URL }}/clipboardjs/clipboard.min.js"></script>
<script src="{{ config.STATIC_URL }}/snappass/scripts/clipboard_button.js"></script>
{% endblock %}