{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header"><h1>This shared secret no longer exists!</h1></div>
    <p>The shared secret is no longer accessible because either someone has already accessed this link or the link has expired. If this is not the case please notify your contact to make sure they are aware someone else might have accessed the link.</p>
  </section>
</div>
{% endblock %}

